@{
     Layout = "";
}

<style>


    .access-denied-box {
        text-align: center;
        padding: 40px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

        .access-denied-box h1 {
            font-size: 4rem;
            color: #dc3545;
        }

        .access-denied-box p {
            font-size: 1.2rem;
        }
</style>


<div class="access-denied-box">
    <h1>403</h1>
    <h3>Access Denied</h3>
    <p>You do not have permission to view this page.</p>
    <a href="/" class="btn btn-primary mt-3">Go to Home</a>
</div>