@model IEnumerable<MovieDay>

<div class="table-responsive">
    <table id="CinemaTable" class="table table-striped  table-bordered">
        <thead class="thead-dark">
            <tr>
                <th width="30%">
                    Movie
                </th>
                <th width="15%">
                    From
                </th>
                <th width="15%">
                    To
                </th>
                <th width="30%">
                    Minutes after movie
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Movie.Name
                    </td>
                    <td>
                        @item.From
                    </td>
                    <td>
                        @item.To
                    </td>
                    <td>
                        @item.MinutesRestAfterMovie
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>